/* Global Settings */
:root {
  --color-black: hsla(0, 0%, 0%, 1);
  --color-black-transparent: hsla(0, 0%, 0%, 0.8);
  --color-gray75: hsla(0, 0%, 75%, 1);
  --color-white: hsla(0, 0%, 100%, 1);
  --color-white-transparent: hsla(0, 0%, 100%, 0.8);
  --color-h000: hsla(000, 100%, 80%, 1);
  --color-h030: hsla(030, 100%, 80%, 1);
  --color-h060: hsla(060, 100%, 80%, 1);
  --color-h090: hsla(090, 100%, 80%, 1);
  --color-h120: hsla(120, 100%, 80%, 1);
  --color-h150: hsla(150, 100%, 80%, 1);
  --color-h180: hsla(180, 100%, 80%, 1);
  --color-h210: hsla(210, 100%, 80%, 1);
  --color-h240: hsla(240, 100%, 80%, 1);
  --color-h270: hsla(270, 100%, 80%, 1);
  --color-h300: hsla(300, 100%, 80%, 1);
  --color-h330: hsla(330, 100%, 80%, 1);
}
ol,
ul {
  list-style: none;
}
/* Elements */
body {
  margin: 2% 3%;
}
header {
  display: inline-block;
  cursor: pointer;
}
nav {
  position: sticky;
  top: 0;
  background-color: var(--color-white-transparent);
}
nav li {
  list-style: none;
  display: inline-block;
  cursor: pointer;
  margin-right: 1rem;
  transition-duration: 300ms;
  opacity: 0.5;
}
nav #monthMenu li.active::after {
  content: "월";
}
main #annotationDeadline {
  margin-left: 40px;
  padding-left: 0.1rem;
  color: var(--color-gray75);
}
main ol {
  padding: 0 40px;
}
main li {
  padding: 0.1rem;
  border-bottom: 1px dashed var(--color-gray75);
}
main .deadline::before {
  content: "✓";
  color: var(--color-gray75);
  margin: 0.1rem;
  font-weight: bold;
}
main .foodMonths {
  display: inline-block;
  text-align: right;
}
main .foodMonths span {
  margin: 0.1rem;
}
main .foodName {
  text-decoration: underline;
}
main .year .foodName {
  text-decoration: none;
}
main .foodHashtags {
  display: inline-block;
}
main .hide {
  display: none;
}
/* Style Changes */
@media (any-hover: hover) {
  header:hover,
  nav li:hover {
    background-color: var(--color-gray75);
  }
}
nav li.active {
  font-size: x-large;
  opacity: 1;
}
nav #menuMonth01.active,
main li .foodMonths span.m01 {
  background-color: var(--color-h000);
}
nav #menuMonth02.active,
main li .foodMonths span.m02 {
  background-color: var(--color-h030);
}
nav #menuMonth03.active,
main li .foodMonths span.m03 {
  background-color: var(--color-h060);
}
nav #menuMonth04.active,
main li .foodMonths span.m04 {
  background-color: var(--color-h090);
}
nav #menuMonth05.active,
main li .foodMonths span.m05 {
  background-color: var(--color-h120);
}
nav #menuMonth06.active,
main li .foodMonths span.m06 {
  background-color: var(--color-h150);
}
nav #menuMonth07.active,
main li .foodMonths span.m07 {
  background-color: var(--color-h180);
}
nav #menuMonth08.active,
main li .foodMonths span.m08 {
  background-color: var(--color-h210);
}
nav #menuMonth09.active,
main li .foodMonths span.m09 {
  background-color: var(--color-h240);
}
nav #menuMonth10.active,
main li .foodMonths span.m10 {
  background-color: var(--color-h270);
}
nav #menuMonth11.active,
main li .foodMonths span.m11 {
  background-color: var(--color-h300);
}
nav #menuMonth12.active,
main li .foodMonths span.m12 {
  background-color: var(--color-h330);
}
.darkMode {
  background-color: var(--color-black);
  color: var(--color-white);
}
body.darkMode nav,
body.darkMode nav #monthMenu li.active,
body.darkMode main li .foodMonths span {
  background-color: var(--color-black-transparent);
}
body.darkMode nav #menuMonth01.active,
body.darkMode main li .foodMonths span.m01 {
  color: var(--color-h000);
}
body.darkMode nav #menuMonth02.active,
body.darkMode main li .foodMonths span.m02 {
  color: var(--color-h030);
}
body.darkMode nav #menuMonth03.active,
body.darkMode main li .foodMonths span.m03 {
  color: var(--color-h060);
}
body.darkMode nav #menuMonth04.active,
body.darkMode main li .foodMonths span.m04 {
  color: var(--color-h090);
}
body.darkMode nav #menuMonth05.active,
body.darkMode main li .foodMonths span.m05 {
  color: var(--color-h120);
}
body.darkMode nav #menuMonth06.active,
body.darkMode main li .foodMonths span.m06 {
  color: var(--color-h150);
}
body.darkMode nav #menuMonth07.active,
body.darkMode main li .foodMonths span.m07 {
  color: var(--color-h180);
}
body.darkMode nav #menuMonth08.active,
body.darkMode main li .foodMonths span.m08 {
  color: var(--color-h210);
}
body.darkMode nav #menuMonth09.active,
body.darkMode main li .foodMonths span.m09 {
  color: var(--color-h240);
}
body.darkMode nav #menuMonth10.active,
body.darkMode main li .foodMonths span.m10 {
  color: var(--color-h270);
}
body.darkMode nav #menuMonth11.active,
body.darkMode main li .foodMonths span.m11 {
  color: var(--color-h300);
}
body.darkMode nav #menuMonth12.active,
body.darkMode main li .foodMonths span.m12 {
  color: var(--color-h330);
}
/* Print Mode */
@media print {
  body {
    font-size: x-small;
  }
  nav {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav li {
    display: none;
  }
  nav li.active {
    display: inline-block;
  }
  nav #optionMenu li.active {
    font-size: inherit;
  }
  .darkMode,
  body.darkMode nav #monthMenu #menuMonth01.active,
  body.darkMode main li .foodMonths span.m01,
  body.darkMode nav #monthMenu #menuMonth02.active,
  body.darkMode main li .foodMonths span.m02,
  body.darkMode nav #monthMenu #menuMonth03.active,
  body.darkMode main li .foodMonths span.m03,
  body.darkMode nav #monthMenu #menuMonth04.active,
  body.darkMode main li .foodMonths span.m04,
  body.darkMode nav #monthMenu #menuMonth05.active,
  body.darkMode main li .foodMonths span.m05,
  body.darkMode nav #monthMenu #menuMonth06.active,
  body.darkMode main li .foodMonths span.m06,
  body.darkMode nav #monthMenu #menuMonth07.active,
  body.darkMode main li .foodMonths span.m07,
  body.darkMode nav #monthMenu #menuMonth08.active,
  body.darkMode main li .foodMonths span.m08,
  body.darkMode nav #monthMenu #menuMonth09.active,
  body.darkMode main li .foodMonths span.m09,
  body.darkMode nav #monthMenu #menuMonth10.active,
  body.darkMode main li .foodMonths span.m10,
  body.darkMode nav #monthMenu #menuMonth11.active,
  body.darkMode main li .foodMonths span.m11,
  body.darkMode nav #monthMenu #menuMonth12.active,
  body.darkMode main li .foodMonths span.m12 {
    color: var(--color-black);
  }
}
/* For mobile */
@media screen and (max-width: 768px) {
  main ol {
    padding: 0;
  }
  main li {
    display: list-item;
    font-size: 2rem;
    border-bottom: 2px dashed var(--color-gray75);
    padding: 1rem 0;
  }
  main li .foodMonths {
    width: auto;
    display: flex;
    flex-wrap: wrap;
  }
  main li .foodMonths.hide {
    display: none;
  }
}
